<div class="d-flex w-100">
    <div class="p-2  px-0 w-100 d-flex">
        <span class="text bg-dark text-secondary text-o   cur  me-1" routerLink="/home">_hello</span>
        <span class="text bg-dark  cur text-secondary text-o me-1" routerLink="/about">_about me</span>

        <span class="text bg-dark cur text-secondary text-o me-1" routerLink="/skills">_skills</span>
        <span class="text bg-dark  cur text-secondary text-o me-1">_projects</span>
        <span class="text bg-dark cur  border-top border-primary  text-success  me-1" routerLink="/contacts">_contacts</span>
        <div class="text bg-dark w-100 text-secondary text-o "></div>

    </div>

</div>
<div class="d-flex container align-items-center h-10 ">
    <div class="w-100">
        <h1 class="variable text-center mb-3">// GET_IN_TOUCH</h1>
        <p class="f text-center mb-5">If you have an idea for website or mobile application then <br>I'm waiting for your
            message to me.
            My time has been very busy <br> laterly , so the sooner ou weite to me, the better for both of us.</p>
        <hr class="w-100 border-top mt-3 border-white">
        <div class="d-flex justify-content-between">
            <p class="mb-0 number">// instagram</p>
            <div class="f">&#64;thulane_mfeketho </div>
            <p class="mb-0 number">// instagram</p>

        </div>
        <hr class="w-100 border-top mt-3 border-white">

        <div class="d-flex justify-content-between">
            <p class="mb-0 number">// linkedin</p>
            <div class="f">&#64;mfeketho_thulane </div>
            <p class="mb-0 number">// linkedin</p>

        </div>
    </div>
</div>