<div class="d-flex w-100">
    <div class="p-2  px-0 w-100 d-flex">
        <span class="text bg-dark    cur text-secondary text-o me-1" routerLink="/home">_hello</span>
        <span class="text bg-dark  cur border-top border-primary  text-success  me-1" routerLink="/about">_about me</span>

        <span class="text bg-dark cur text-secondary text-o me-1" routerLink="/skills">_skills</span>
        <span class="text bg-dark  cur text-secondary text-o me-1">_projects</span>
        <span class="text bg-dark cur text-secondary text-o me-1" routerLink="/contacts">_contacts</span>
        <div class="text bg-dark w-100 text-secondary text-o "></div>

    </div>

</div>

<div class="continer">
    <div class="d-flex">
        <div class="col-6 z d-flex mt-3 pt-5">
            <div class="code-container">
                <div class="line align-items-center">
                    <span class="line-number">34</span>
                    <div class="s w-20 d-flex align-items-center">
                        <div class="box s rounded-circle bg-red me-1"></div> <span class="code"><span
                                class="tag ">&lt;about
                                me&gt;</span></span>
                    </div>

                </div>
                <div class="line">
                    <span class="line-number">35</span><span class="code">As a highly <span class="variable"> skilled
                            and motiveted </span> middle full-stack</span>
                </div>
                <div class="line">
                    <span class="line-number">36</span><span class="code">developer. I am passionate about <span
                            class="type">creating
                            dynamic </span></span>
                </div>
                <div class="line">
                    <span class="line-number">37</span><span class="code"> <span class="type">responsive web
                            applications. </span></span>
                </div>
                <div class="line">
                    <span class="line-number">38</span><span class="code"></span>
                </div>
                <div class="line">
                    <span class="line-number">39</span><span class="code"><span class="text-primary">I am confident in
                            my ability </span> to bring value to any project</span>
                </div>
                <div class="line">
                    <span class="line-number">40</span><span class="code"> and an always eager to <span
                            class="type">learn and grow as a developer.</span></span>
                </div>
                <div class="line">
                    <span class="line-number">41</span><span class="code">Weather working on new feather debbugging
                        complex issues,</span>
                </div>
                <div class="line">
                    <span class="line-number">42</span><span class="code">or exploring new technologies, I approach each
                        challenge <span class="text-primary">with dedication</span></span>
                </div>
                <div class="line">
                    <span class="line-number">43</span><span class="code"><span class="text-waring">and a commitment to
                            delivering the best</span> possible solution.</span>
                </div>
                <div class="line">
                    <span class="line-number">44</span><span class="code"></span>
                </div>
                <div class="line">
                    <span class="line-number">45</span><span class="code">
                        <span class="text-danger">In summary,</span> I am a <span class="type">talented and
                            driven</span>
                        <span class="type">full-stack developer</span>
                    </span>
                </div>

                <div class="line">
                    <span class="line-number">46</span><span class="code">with a passion for creating excetional use
                        experineces.</span>
                </div>
                <div class="line">
                    <span class="line-number">47</span><span class="code"><span class="text-waring">I am eager to bring
                            my skills</span> and expertise to a new challenge </span>
                </div>
                <div class="line">
                    <span class="line-number">48</span><span class="code">and an <span class="text-success">confident in
                            my ability</span> to make a meanng impact</span>

                </div>

            </div>
        </div>
        <div class="col-2">
            <!-- <img src="" alt="Curved Image" class="curved-image mt-5"> -->
            <div class="con pos curved-image mt-4" [ngStyle]="{'background': 'url(' + backgroundUrl + ') no-repeat 0 0 / cover'}">
                <div class="bg curved-image">

                </div>
            </div>


        </div>

    </div>

</div>