.icon{
    width: 10px;
    height: 10px;
}
.w3{
    width:50px;
}
.bg-dark{
    background-color: rgb(33, 33, 33) !important;
}
.w-10{

    width: 720px;
}
.cur{
    width: 200px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}
.text-o:hover{
    color: rgb(165, 134, 76) !important;
    cursor: pointer;
}

@media only screen and (max-width: 425px) {

    /*Small smartphones [325px -> 425px]*/
    .text-o {
      font-size: 13px;
    }
  
    .d-none {
      display: block!important;
    }

  }