.code-container {
  color: #f8f8f2;
  padding: 20px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  position: relative;
}

.line {
  display: flex;
}

.line-number {
  width: 30px;
  color: #75715e;
  text-align: right;
  padding-right: 10px;
  user-select: none;
}

.code {
  white-space: pre;
}

.tag {
  color: #f92672;
}

.variable {
  color: #a6e22e;
}

.type {
  color: #ae81ff;
}

.function {
  color: #66d9ef;
}

.number {
  color: #e6db74;
}

.keyword {
  color: #f92672;
}

h1 {
  font-size: 80px;

}

h2 {
  font-size: 40px;
}

.text-container {
  position: relative;
  display: inline-block;
}

p {
  /* border-right: solid 5px rgba(255, 255, 255, .75); */
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 49px;
  color: #ae81ff;
}



.icon {
  width: 10px;
  height: 10px;
}

.w3 {
  width: 50px;
}

.bg-dark {
  background-color: rgb(33, 33, 33) !important;
}

.w-10 {

  width: 720px;
}

.cur {
  width: 200px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}

.text-o:hover {
  color: rgb(165, 134, 76) !important;
  cursor: pointer;
}

@media only screen and (max-width: 100px) {

  /*Tablets [601px -> 1200px]*/
  .none {
    display: block !important;
  }
}

@media only screen and (max-width: 425px) {

  /*Small smartphones [325px -> 425px]*/
  .text-o {
    font-size: 13px;
  }

  .d {
    display: none !important;
  }

  .d-b {
    display: block !important;
  }

  .d-none {
    display: block !important;
  }

  h1 {
    font-size: 55px;

  }

  .line-number {
    width: 20px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 19px;

  }
}