
<div class="d-flex w-100">
    <div class="p-2  px-0 w-100 d-flex">
        <span class="text bg-dark    cur border-top border-primary text-o text-success me-1" routerLink="/home">_hello</span>
        <span class="text bg-dark  cur text-secondary text-o me-1" routerLink="/about">_about me</span>

        <span class="text bg-dark cur text-secondary text-o me-1" routerLink="/skills">_skills</span>
        <span class="text bg-dark  cur text-secondary text-o me-1">_projects</span>
        <span class="text bg-dark cur text-secondary text-o me-1" routerLink="/contacts">_contacts</span>
        <div class="text bg-dark w-100 text-secondary text-o "></div>

    </div>

</div>
<div class="d-flex ">
    <div class="col-6 pt-5 mt-5 d-flex h-100 align-items-center ">
        <div class="code-container">
            <div class="line">
                <span class="line-number">1</span><span class="code"><span class="tag">&lt;hello&gt;</span></span>
            </div>
            <div class="line">
                <span class="line-number">2</span><span class="code">Hello, my name is <span class="variable"><span
                            class="text-primary">let</span> Thulane() <span class="text-primary">aysnc</span> => </span>
                    &#123;</span>
            </div>
            <div class="line">
                <span class="line-number">3</span><span class="code">I am a <span class="type">full-stack</span> & <span
                        class="type">web-developer</span></span>
            </div>
            <div class="line">
                <span class="line-number">4</span><span class="code">and creator of <span class="function">Mars Web
                        Studio</span></span>
            </div>
            <div class="line">
                <span class="line-number">5</span><span class="code">I have more than <span class="number">100</span>
                    projects</span>
            </div>
            <div class="line">
                <span class="line-number">6</span><span class="code">using <span class="keyword">modern
                        technologies</span></span>
            </div>
            <div class="line">
                <span class="line-number">7</span><span class="code">and <span class="type">design</span></span>
            </div>
            <div class="line">
                <span class="line-number">8</span><span class="code">&#125;</span>
            </div>
            <div class="line">
                <span class="line-number">9</span><span class="code"><span class="tag">&lt;/hello&gt;</span></span>
            </div>
        </div>
    </div>
    <div class="col-6 text-secondary pt-5">
        <h1 class="w-50 variable"> &lt; Thulane Mfeketho&gt;</h1>
        <h2 class="text-white">// I HELP YOU</h2>
        <div class="text-container">
            <p id="animatedText"></p>
        </div>
    </div>
</div>
