<div class="d-flex w-100 d">
    <div class="p-2  px-0 w-100 d-flex">
        <span class="text bg-dark    cur  text-o text-success me-1"
            routerLink="/home">_hello</span>
        <span class="text bg-dark  cur text-secondary text-o me-1"
            routerLink="/about">_about me</span>

        <span class="text bg-dark cur text-secondary text-o me-1"
            routerLink="/skills">_skills</span>
        <span
            class="text bg-dark  cur text-secondary border-top border-primary text-o me-1"
            routerLink="/projects">_projects</span>
        <span class="text bg-dark cur text-secondary text-o me-1"
            routerLink="/contacts">_contacts</span>
        <div class="text bg-dark w-100 text-secondary text-o d"></div>

    </div>

</div>
<div class="container text-white">
    <h1 class="text variable">// TOP PROJECTS</h1>
</div>
<div class="w-100 over mt-4">
    <div class="container">
        <div class="d-flex">
            <div class="col-lg-5 col-xl-5 me-2">
                <div class="card bg-dark  p-3 border-secondary">
                    <img
                        src="https://i.postimg.cc/W3mS9QVB/Screenshot-2024-09-04-133639.png"
                        alt class="img-fluid rounded mb-2">

                    <p class="text-white text-center">A dynamic weather
                        application built with Angular for the frontend and
                        powered by OpenWeather API for real-time weather data.
                        It provides accurate, location-based forecasts with a
                        clean.
                    </p>
                    <a href="https://weather-app-pearl-rho-59.vercel.app" target="_blank" rel="noopener noreferrer" class="text-white text-center">https//weather-app.app</a>

                </div>
            </div>
        </div>
    </div>

</div>