.bg-dark{
    background-color: rgb(33, 33, 33) !important;
}
.w3{
    width: 392px;
}

.f{
    color: #a5a2a2;

}
.mx{
    margin-left: 20px;
}
.h-10{
    height: 550px;
}
.icon{
    width: 10px;
    height: 10px;
}


.w-10{

    width: 720px;
}
.cur{
    width: 200px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}
.text-o:hover{
    color: rgb(165, 134, 76) !important;
    cursor: pointer;
}
p {
    /* border-right: solid 5px rgba(255, 255, 255, .75); */
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;

  }
@media only screen and (max-width: 425px) {

    /*Small smartphones [325px -> 425px]*/
    .text-o {
        font-size: 13px;
    }

    .d {
        display: none !important;
    }

    .d-b {
        display: block !important;
    }

    .d-none {
        display: flex !important;
    }

    h1 {
        font-size: 55px;

    }

    .line-number {
        width: 20px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 19px;

    }

}